__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.git/
.gitignore
.DS_Store
jetimob_automacao.exe
*.spec
Relatorio_IA_Guia_Jetimob.txt
err.txt
test_output.txt
relatorio_execucao.txt
imoveis_nao_encontrados.txt
erro_fatal_screenshot.png
erro_fatal_log.txt
